/* .center {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;
}

.table-wrapper {
  overflow-x: auto;
  margin-top: 12px;
}
 */

 .container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem 1rem;
  background: #D7E3FF;
  min-height: 100vh;
}

.card {
  max-width: 1100px;
  width: 100%;
  padding: 1.5rem;
  background:#FAF9FD;
  

}

.file-section {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin: 1rem 0;
}

.table-container {
  overflow-x: auto;
  margin-top: 1rem;
}

table {
  width: 100%;
  border-radius: 8px;
}

.info-text {
  text-align: center;
  color: #555;
  margin-top: 1rem;
}

.note {
  text-align: center;
  color: #666;
  font-size: 0.9rem;
  margin-top: 1rem;
}

.custom-title {
  text-align: center;
  margin-top: 1.5rem;
  font-weight: bold;
  color: #3f51b5;
}

mat-card-header {
  justify-content: center; 
}

mat-card-title {
  text-align: center;
  width: 100%;
  font-weight: 600;
}

.custom-info {
  text-align: center;
  margin-top: 0.5rem;
  font-weight:normal;
  color: #666;
  font-weight: 400;
}